.login{

	margin: 80px auto;
	width:300px;
	text-align:center;
}

.login-label{
	font-size:18pt;
	padding:5px;
	margin-top:10px;
}

.login-form{
	width:280px;
	font-size:12pt;
	padding:10px;
	margin-top:10px;
}

.login-button{
	width:280px;
	font-size:18px;
	padding:10px;
	color:white;
	background-color:#313131;
	margin-top:20px;
}
