/* ------------- */
/* GENERAL STYLE */
body{
	font-family: 'Roboto', sans-serif;
	margin:0;
	padding:0;
}

.green_text{
	color:green;
}

.red_text{
	color:red;
}

/* --------- */
/* TITLE BAR */

#logo{
	font-family: 'Gugi', cursive;
	font-size:24px;
	color:#92E601;
	background-color:#313131;
	line-height:24px;
	padding:8px;
	margin:0;	
}

/* ********************* */
/* VIDEO AND STATUS AREA */
.screen{
	width:100%;
	text-align:center;
	margin:20px auto;
	max-width: 730px;	
}

.stream{
	float:left;
	width: 320px;
}

.status{
	float: left;
	width:390px;
	padding-left:20px;
	text-align:left;
}



/* ------------ */
/* CONTROL AREA */

.controls{
	width:100%;
	text-align:center;
	margin:0 auto;
	max-width: 730px;	
}

.joystick_info{
	text-align:center;
	width:50%;
	float:left;
}

.joystick_area{
	position:relative;
	width:50%;
	height:250px;
	max-width:500px;
	float:left;
}

#joystick_area1{
	background-color:#f2f3f4;
}

#joystick_area2{
	background-color:#d5d8dc;
}
